.root {
  position: relative;
  margin-left: -150px;
  @media (max-width: 1200px) {
    margin-left: 0;
  }
  @media (max-width: 950px) {
    position: absolute;
    top: 185px;
  }
  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 10px;
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }
  }
}

.input {
  padding: 10px 30px;
  width: 350px;
  border-radius: 7px;
  opacity: 0.5;
  font-size: 16px;
  &:focus {
    opacity: 0.8;
  }
  @media (max-width: 1200px) {
    width: 230px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 12px;
}
